.action-buttons {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.recipe-card .group:hover .action-buttons {
  opacity: 1;
}

.recipe-image {
  transition: filter 0.3s ease;
}

.group:hover .recipe-image {
  filter: brightness(50%); /* làm tối 40% */
}

.recipe-grid {
  column-gap: 1rem;
  column-width: 150px; /* mặc định cho mobile */
}

@media (min-width: 768px) {
  .recipe-grid {
    column-width: 290px; /* cho tablet trở lên */
  }
}