.nav-link.active-tab {
  background-color: #e9f5ff;
  color: #0d6efd;
  border-bottom: 3px solid #0d6efd !important;
  font-weight: bold;
}

.tag-button {
  background-color: transparent;
  border: 2px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  color: #000;
  transition: background-color 0.2s ease;
}

.tag-button:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}